.menu-container{
      display: flex;
      font-family: 'Montserrat';
}

.nav-menu {
    background-color: #d7e5ff;
    margin-top: 60px;
    position:absolute;
    width: 500px;
    border-radius: 8px;
    border: var(--border);
    padding: 1rem;
    overflow: hidden;
    opacity: 0;
    transition: 500ms;
    transition: height 500ms ease;
}

.nav-menu.active {
    visibility: visible;
    opacity: 1;
    right: 0;
    transition: 500ms;
}

button{
    color:#ffffff;
    margin-right: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.clear-cart{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}

.header-cart{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 40px;
}

.item-cart{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10px;
    color: var(--primary-color)
}

.delete-item{
  color: var(--primary-color);

}

.btn-buy-cart, .btn-buy-cart:visited {
  background-color: var(--primary-color);
  color:#ffffff;
  width: 350px;
  border-radius: 10px;
  display: flex;  
  justify-content: center;
  padding: 10px;
  /* align-items: center; */
  text-decoration: none;
}

.btn-buy-cart:hover{
  opacity: 0.8;
  transition: .4s;
}

.footer{
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.total-cart{
  display: flex;
  justify-content: space-between;
}