.card-movie {
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 1px var(--border-item-color);
  max-width: 200px;
  border-radius: 10px;
  font-family:'Montserrat', sans-serif;
  margin: 30px;
 }

 .fav-btn{
  position: absolute;
  padding: 10px;
  padding-left: 160px;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
}

.poster-image{
  background-image: url('https://www.themoviedb.org/t/p/w180/lFPHeAedYwKpF1iW83qKXtPoX9B.jpg');
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  padding: 145px 80px;
}

.card-movie .card-details{
  flex: 1;
  margin: 0 8px;
}

.card-movie .name-movie {
  align-items: flex-start;
  color: var(--secundary-color);
  font-size: 14px;
  height: 30px;
 }

.card-details span{
  color: var(--destak-color);
  padding-right: 8px;
}

.card-movie .details{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card-movie .details .score{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card-movie .price-movie{
  color: var(--secundary-color);
}

.btn-buy, .btn-buy:visited {
  background-color: var(--primary-color);
  color:#ffffff;
  width: 200px;
  border-radius: 0 0 8px 8px;
  display: flex;  
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.1Sem;
}

.btn-buy:hover{
  opacity: 0.8;
  transition: .4s;
  color: var(--destak-color);
}

.btn-buy span{
  margin-left: 10px;
}