.Header{
  background-color:var(--primary-color);
  border-bottom: var(--border);
  display: flex;
  padding: 10px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.Logo{
    background: var(--destak-color);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.165em;
  padding: 10px 30px;
  text-shadow: 1px 1px 10px #000000;
}


.Header form input{
  border-radius: 10px;
  border: 0;
  width: 400px;
  height: 2.5rem;
  margin: 10px 15px;
  padding-left: 15px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.Header .menu-bar{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #ffffff;
  cursor: pointer;
}

.Header form .btn-search{
  background-color: var(--destak-color);
  color: var(--secundary-color);
  border: none;
  border-radius: 10px;
  height: 2rem;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
}

.btn-search:hover{
  filter:brightness(1.2)
}

.Header .menu-header{
  display: flex;
}

@media (max-width: 900px)
{
  .Header{
    height: 200px;
    flex-direction: column;
    
    align-items: flex-start;
   }

   .Header form input{
    width:200px;
   }
   
}
