@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  background-color: #ffffff;
  min-height: 100vh;
  

  --border-item-color: #727171;
  --destak-color:#f5c53b;
  --primary-color:#385ba1;
  --secundary-color: #333333;
}

.content{
  display: flex;
  margin: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

