body {
  margin: 0;
  background: #ffffff;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  
  --destak-color:#FECF59;
  --primary-color:#713BC7;
  --secundary-color: #474a4d;
  --border: 1px solid #474a4d;
  --bg:  #242526;
 }

.content{
  display: flex;
  margin: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

