.menu-container-favorite{
    height: 20px;
    display: flex;
}

.nav-menu {
  background-color: #ffffff;
  margin-top: 100px;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position:fixed;
  top: 0;
  border-left: solid 2px var(--primary-color);
  border-bottom:solid 2px var(--primary-color);
  right: -100%;
  transition: 2ms;
  z-Index: 100;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

button{
  color:#ffffff;
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

